@{
    ViewBag.Title = "About Us";
}

    <div class="container-fluid">
        <h1>About Us</h1>
        <p>
            SmartSport is a sports organising company that hosts sport events around London. There are varieties of activities to take part. To participate in upcoming events, please email us <b>smartSports2002@gmail.com</b>
            alternatively, call us on <b>01632 960129</b>.
        </p>
        <p>Next event is on <b>17th June 2020</b>. Further details to this event will be posted soon.</p>
    </div>
